{% extends "base.html" %}

{% block content %}

<div class="booking-card">

    <h3 class="mb-3">Бронирование</h3>

    <form method="POST">

        <input name="name" placeholder="Имя" class="form-control mb-2">
        <input name="surname" placeholder="Фамилия" class="form-control mb-2">
        <input name="contact" placeholder="Контакт" class="form-control mb-2">

        <label>Заезд</label>
        <input type="date" name="check_in" class="form-control mb-2">

        <label>Выезд</label>
        <input type="date" name="check_out" class="form-control mb-3">

        <button class="btn btn-light w-100">Забронировать</button>
        
    </form>
        <div class="free-dates mt-2">
            <small class="text-success">Свободно для бронирования в ближайшее 30 дней:</small>
                <ul class="free-list">
                    {% for start, end in free_slots %}
                        {% if start.strftime('%d.%m.%Y') == end.strftime('%d.%m.%Y') %}
                            <li>{{ start.strftime('%d.%m.%Y') }}</li>
                        {% endif %}
                    {% if start.strftime('%d.%m.%Y') != end.strftime('%d.%m.%Y') %}
                        <li>{{ start.strftime('%d.%m.%Y') }} — {{ end.strftime('%d.%m.%Y') }}</li>
                    {% endif %}
                    {% else %}
                        <li>Нет свободных дат в ближайшее время.</li>
                    {% endfor %}
                </ul>
</div>
    

</div>

{% endblock %}