{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">

        <div class="card p-4 shadow-sm auth-card">

            <h3 class="text-center mb-3">Вход</h3>

            <form method="POST">
                <input class="form-control mb-3" name="email" placeholder="Email">
                <input class="form-control mb-3" type="password" name="password" placeholder="Пароль">

                <button class="btn btn-danger w-100">Войти</button>
            </form>

            <p class="text-center mt-3 small">
                Нет аккаунта? <a href="/register">Регистрация</a>
            </p>

        </div>

    </div>
</div>

{% endblock %}